# UI directory ignores
/ui/node_modules
/ui/package-lock.json
/ui/yarn.lock
/ui/coverage
/ui/build
/ui/.eslintcache
/ui/.DS_Store
/ui/.dist-react
/ui/.idea
/ui/.env.local
/ui/.env.development.local
/ui/.env.test.local
/ui/.env.production.local
/ui/electron
/ui/dist-react
/ui/dist
/ui/public
/backend/.env.development.local
/backend/.env.test.local
/backend/.env.production.local
/backend/.DS_Store
/backend/.idea
/backend/coverage
/backend/dist
/backend/build
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*